.App {
	text-align: center;
	min-height: 100vh;
	background-color: #1d1d1d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	border-width: 0px;
}

button.page-number {
	background-color: transparent;
	font-weight: 900;
	color: white;
	width: 24px;
	height: 24px;
	margin: 24px 0.5rem;
	border-radius: 50%;
	cursor: pointer;
}

button.page-active {
	background-color: #03DAC5;
	color: black;
}

.profile-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 12px;
	background-size: cover;
}

.profile-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #9969C7;
	background-image: linear-gradient(to top right, #A88BEB, #F8CEEC);
	color: white;
	font-weight: 600;
	padding: 12px;
	margin: 12px;
	border-radius: 50px;
}

.interact {
	width: 48px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
}

.grid-container {
	display: grid;
	min-width: 280px;
	max-width: 65vw;
	grid-template-columns: repeat(auto-fill, 280px);
	justify-content: center;
}

.btn {
	cursor: pointer;
}

.btn-primary {
	color: white;
	cursor: pointer;
	margin: 12px;
	padding: 12px 24px;
	border-radius: 12px;
	font-weight: 900;
}

.normal {
	background-color: #131037;
}

.normal:hover {
	background-color: #252054;
}

.reject {
	background-color: #af129d;
}

.reject:hover {
	background-color: #ba57ae;
}

.submit {
	color: #252054;
	background-color: #03DAC5;
}

.submit:hover {
	background-color: #0ce6d0;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
}

.modal-content {
	background: white;
	border-radius: 25px;
	margin: auto;
	padding: 20px;
	width: 280px;
}

form {
	text-align: left;
}

input {
	border: 0px;
	border-bottom: 2px solid rgb(124, 71, 143);
	margin: 12px 0px;
	height: 30px;
	width: 100%;
	font-size: medium;
	font-weight: 600;
}

input:focus {
	outline: none;
	border: 2px;
}

label {
	font-size: medium;
	font-weight: 700;
}

.status-box {
	z-index: 2;
	color: #1d1d1d;
	position: fixed;
	bottom: 24px;
	right: 24px;
	border-radius: 5px;
	font-weight: 600;
	margin: auto;
	padding: 12px;
}

.authen-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #9969C7;
	background-image: linear-gradient(to top right, #A88BEB, #F8CEEC);
	color: white;
	font-weight: 600;
	width: 280px;
	padding: 24px;
	margin: 12px;
	border-radius: 50px;
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.success {
	background-color: #1DE9B6;
}

.error {
	color: whitesmoke;
	background-color: #D81B60;
}